h2 {
    color: yellow
}

button {
    font-size: xx-large;
    color: yellow;
    background-color: black;
    font-family:fantasy;
    position: relative;
    border-radius: 1rem;
}

body {
    background-color: grey;
    text-align: center;
}

input {
    background-color: black;
    color : yellow;
    border-radius: 0px
}

section {
    display:flex;
    flex-direction: column;
    max-width: 20rem;
    margin: 0 auto;
}